.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Calc {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    border: red solid 2px;
    height: 600px;
    width: 400px;
}

.Display {
    border: blue dotted 2px;
    height: 110px;
    width: 360px;
    margin-top: 20px;
    font-size: 50px;
    text-align: end;
}



.Sets {
    width: 360px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    border: solid red 2px;
    display: flex;
}


.Functional {
    width: 360px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;

}

.Sets button {
    width: 60px;
    height: 50px;
    font-size: 20px;

}
.Functional button {
    width: 50px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
}

.PlusAndEqual button {
    height: 130px;
}

