.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Calc {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: red solid 2px;
    height: 600px;
    width: 400px;
}

.Display {
    border: blue dotted 2px;
    height: 110px;
    width: 350px;
    margin-top: 20px;
    font-size: 50px;
    text-align: end;
}

.Hello {
    border: blue dotted 2px;
    height: 110px;
    width: 350px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}



.Sets {
    width: 350px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
}


.Functional {
    width: 360px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 20px;

}

.Sets button {
    width: 60px;
    height: 50px;
    font-size: 20px;

}
.Functional button {
    width: 50px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
}

.PlusAndEqual button {
    height: 130px;
}

.RoundAndDoz button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;

}

.Indicators {
    display: flex;
    justify-content: space-around;
}

.OnOff button {
    width: 50px;
    border-radius: 50%;
    margin-left: 40px;
}

.Chosen {
    background-color: greenyellow;
}

